<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <a href="index.html" class="footer__logo">
        <svg width="142" height="60" class="footer__logo-icon">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li><a href="#" class="footer__nav-link">Home</a></li>
          <li><a href="#mission" class="footer__nav-link">Mission</a></li>
          <li><a href="#benefits" class="footer__nav-link">Benefits</a></li>
          <li><a href="#assortment" class="footer__nav-link">Assortment</a></li>
          <li><a href="#feedbacks" class="footer__nav-link">Feedbacks</a></li>
          <li><a href="#faq" class="footer__nav-link">FAQ</a></li>
          <li><a href="#contacts" class="footer__nav-link">Contacts</a></li>
        </ul>
      </nav>

      <ul class="footer__social-list">
        <li>
          <a
            href="https://www.facebook.com/"
            class="footer__social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Facebook"
          >
            <svg width="32" height="32" aria-hidden="true">
              <use href="/img/icons.svg#icon-Facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/"
            class="footer__social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Instagram"
          >
            <svg width="32" height="32" aria-hidden="true">
              <use href="/img/icons.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://x.com/"
            class="footer__social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="X"
          >
            <svg width="32" height="32" aria-hidden="true">
              <use href="/img/icons.svg#icon-X"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/"
            class="footer__social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="LinkedIn"
          >
            <svg width="32" height="32" aria-hidden="true">
              <use href="/img/icons.svg#icon-LinkedIn"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/"
            class="footer__social-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
          >
            <svg width="32" height="32" aria-hidden="true">
              <use href="/img/icons.svg#icon-Youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <p class="footer__copyright">
      &copy; 2025 Organic Shop. All rights reserved.
    </p>
  </div>
</footer>
