<header class="header">
  <div class="container header-container">
    <a href="index.html" class="header-logo-link">
      <svg width="142" height="60" class="header-logo-organic-shop">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <!-- navigation -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#mission" class="header-nav-link">Mission</a>
        </li>
        <li class="header-nav-item">
          <a href="#benefits" class="header-nav-link">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a href="#assortment" class="header-nav-link">Assortment</a>
        </li>
        <li class="header-nav-item">
          <a href="#feedbacks" class="header-nav-link">Feedbacks</a>
        </li>
        <li class="header-nav-item">
          <a href="#faq" class="header-nav-link">FAQ</a>
        </li>
        <li class="header-nav-item">
          <a href="#contacts" class="header-nav-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <!-- button _ order _ assortment -->
    <a href="#assortment" class="header-button-order">Order</a>

    <!-- burger -->
    <button class="header-burger" type="button" id="open-burger-menu-btn">
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
