<header class="header">
 <div class="container header-container">
    <a href="./" class="header-logo-link">
      <img
        src="/img/header/company_logo.svg"
        alt="logo organic shop"
        class="header-logo-organic-shop"
        width="142"
        height="60"
      />
    </a>

 <!-- navigation -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#home" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#mission" class="header-nav-link">Mission</a>
        </li>
        <li class="header-nav-item">
          <a href="#benefits" class="header-nav-link">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a href="#assortment" class="header-nav-link">Assortment</a>
        </li>
        <li class="header-nav-item">
          <a href="#feedbacks" class="header-nav-link">Feedbacks</a>
        </li>
        <li class="header-nav-item">
          <a href="#faq" class="header-nav-link">FAQ</a>
        </li>
        <li class="header-nav-item">
          <a href="#contacts" class="header-nav-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <!-- button _ order _ assortment -->
    <a href="#assortment" class="header-button-order">Order</a>

    <!-- burger -->
    <button class="header-burger" type="button">
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/header/icon_menu.svg"></use>
      </svg>
    </button>
 </div>    
</header>

