<section class="section mission" id="mission">
  <div class="container mission-container">
    <div class="mission-text">
      <h2 class="mission-title">
        Our Mission: Fresh, Local, and Organic for a Healthier Tomorrow.
      </h2>

      <p class="mission-text-desc">
        At Organic Shop, we believe in the power of nature. Our mission is to
        provide you with fresh, locally sourced organic products that nourish
        both body and soul. We partner with ethical farmers who share our
        commitment to sustainability and quality.
      </p>
    </div>

    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="/img/mission/mission.webp 1x, /img/mission/mission@2x.webp 2x"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/mission/mission-t@1x.webp 1x,
          /img/mission/mission-t@2x.webp 2x
        "
      />

      <img
        class="mission-img"
        src="./img/mission/mission-m@1x.webp"
        srcset="
          /img/mission/mission-m@1x.webp 1x,
          /img/mission/mission-m@2x.webp 2x
        "
        alt="Four friends smiling and unpacking fresh vegetables and fruits from reusable cotton bags together"
        width="343"
        height="193"
        loading="lazy"
      />
    </picture>
  </div>
</section>
