.faq-section {
  background: var(--color-scheme-1-background);
  color: var(--color-scheme-1-text);
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 64px;
}

.faq-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-title {
  font-family: var(--second-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.faq-text {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-item {
  display: flex;
  flex-direction: column;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-btn {
  display: flex;
  align-items: center;
  gap: 24px;

  border-top: 1px solid var(--color-scheme-1-border);
  background: var(--color-scheme-1-background);
  padding-block: 20px;
  width: 343px;
  height: 72px;
  border: none;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: currentColor;
}

.faq-answer {
  margin: 0;

  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
}

.faq-icon {
  margin-left: auto;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

@media screen and (min-width: 1440px) {
  .faq-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }

  .faq-info {
    max-width: 400px;
  }

  .faq-list {
    flex: 1;
  }
}
