.header-container {
  display: flex;
  align-items: center;
  padding-block: 6px;
}

.header-logo-link {
  display: block;
  fill: var(--color-scheme-3-text);
}

.header-burger {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.burger-icon {
  align-items: center;
  justify-content: center;
  fill: var(--color-scheme-1-text);
}

.header-nav {
  display: none;
}

.header-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  transition: opacity var(--transition);
}

.header-button-order {
  display: none;
  border: 1px solid var(--color-japanese-laurel);
  border-radius: 6px;
  padding: 4px 24px;
  width: 92px;
  height: 32px;
  background: var(--color-japanese-laurel);
  transition: color var(--transition);
}

@media only screen and (min-width: 768px) {
  .header-container {
    justify-content: center;
    padding-block: 6px;
  }

  .header-nav-list {
    display: flex;
    gap: 32px;
  }

  .header-nav-link:hover,
  .header-nav-link:focus {
    color: var(--color-scheme-5-text);
    opacity: 0.5;
  }

  .header-nav-link:active {
    color: var(--color-scheme-5-text);
    opacity: 0.6;
  }

  .header-burger {
    width: 44px;
    height: 44px;
    margin-left: 16px;
  }

  /* button Order */

  .header-button-order {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);
    border: 1px solid var(--color-japanese-laurel);
    cursor: pointer;
    margin-left: auto;
    text-decoration: none;
    transition:
      border var(--transition),
      background-color var(--transition),
      color var(--transition),
      box-shadow var(--transition);
  }

  .header-button-order:hover,
  .header-button-order:focus {
    border: 1px solid var(--color-white);
    background-color: var(--color-scheme-3-text);
    color: var(--color-neutral-darkest);
  }
}
.header-button-order:active {
  border: 1px solid var(--color-scheme-3-text);
  box-shadow: inset 2px 7px 27px -4px rgba(0, 0, 0, 0.15);
  background-color: var(--color-scheme-3-text);
  color: var(--color-scheme-2-text);
}

@media only screen and (min-width: 1440px) {
  .header-container {
    padding-block: 6px;
  }

  .header-nav {
    display: flex;
    margin-left: auto;
  }

  .header-button-order {
    margin: 0;
  }

  .header-nav-list {
    gap: 32px;
    padding-right: 32px;
  }

  .header-burger {
    display: none;
  }
}
