.mission-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mission-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mission-title {
  font-family: var(--second-family);
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}
.mission-text-desc {
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}
.mission-img {
  width: 100%;
}

@media (min-width: 768px) {
  .mission-text {
    flex-direction: row;
  }

  .mission-title {
    flex: 1 0 0;
  }

  .mission-text-desc {
    flex: 1 0 0;
    margin-top: 0;
  }
}

@media (min-width: 1440px) {
  .mission-container {
    gap: 80px;
  }

  .mission-text {
    align-items: flex-start;
  }

  .mission-title {
    font-size: 48px;
    margin: 0;
  }

  .mission-text-desc {
    margin-top: 0;
  }
}
